body, body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    background-color: #E0E2E1;
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Abel', sans-serif;
    width: 100%;
}

.container {
    display: inline-block;
    width: 900px;
    margin: 80px calc((100% - 900px) / 2);
    background-color: #EFF1F0;
    color: #252525;
    text-transform: uppercase;
    padding: 20px;
    position: relative;
    box-shadow: 6px 5px 23px -6px rgba(181,175,181,1);
}
    .container > .text {
        display: inline-block;
        width: 30%;
        text-align: center;

        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 0;
    }

        .container h1 {
            display: inline-block;
            width: 100%;
            font-size: 30px;
            letter-spacing: 5px;


            position: absolute;
            left: 0;
            top: 110px;
        }

        .container  p {
            display: inline-block;
            width: 100%;
            font-size: 10px;
            letter-spacing: 4px;
            position: absolute;
            left: 0;
            top: 150px;
        }

        .container  a {
            display: inline-block;
            width: 40px;
            height: 40px;
            color: #252525;
            padding: 20px;

            position: absolute;
            left: 0;
            top: 260px;
        }

        .container  a:hover {
            color: #EFF1F0;
            background-color: #252525;
            border-radius: 30px;
        }
    
    .container > img {
        display: inline-block;
        width: 70%;
        background-color: green;
        float: right;
    }